

<!DOCTYPE html>

	<html>

<head>
<title> Pino - Api </title> 
<meta property="og:image" content="https://raw.githubusercontent.com/inirey/inirey/main/4a16641bd5c493dd8f8d2758492fb469.jpg" /> 
<meta property="og:title" content="RAJA - API" /> <meta property="og:description" content="DEVELOPER : @RAJA | Buat kalian yang mau free apikey whatsapp bot"/> 
<link rel="shortcut icon" href="https://raw.githubusercontent.com/inirey/inirey/main/4a16641bd5c493dd8f8d2758492fb469.jpg" type="image/x-icon" />
</head>
<body>

/api <- tambahkan di belakang url


</body></html>
